@using MambaMVC.Areas.ViewModels.Employee
@using MambaMVC.Models
@model UpdateEmployeeVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form class="forms-sample" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <img style="width:130px;height:130px" src="~/assets/img/team/@Model.Images.FirstOrDefault().Image">
                    <input asp-for="Photo" class="form-control">
                    <span asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PositionId">Username</label>
                    <select asp-for="PositionId" asp-items="new SelectList(Model.Positions,nameof(Position.Id),nameof(Position.Name))">

                        <option selected disabled value="">Choose a Position</option>
                    </select>

                    <input asp-for="PositionId" class="form-control">
                    <span asp-validation-for="PositionId"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
